<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atstudy.mapper.BrandMapper">

    <select id="listBySearchBo" resultType="com.atstudy.entity.Brand">
        select
            a.*
        from
            brand a
        left join
            brand_categories b
        on
            a.brand_id = b.brand_id
        <where>
            <if test="searchBo.brandId != null and searchBo.brandId.length > 0">
                a.brand_id = #{searchBo.brandId}
            </if>
            <if test="searchBo.brandName != null and searchBo.brandName.length > 0">
                and a.brand_name = #{searchBo.brandName}
            </if>
            <if test="searchBo.sortno != null">
                and a.sortno = #{searchBo.sortno}
            </if>
            <if test="searchBo.categoryId != null and searchBo.categoryId != -1">
                and b.category_id = #{searchBo.categoryId}
            </if>
        </where>
        limit
            #{pageBo.startIndex},#{pageBo.pageSize}
    </select>


    <select id="getCount" resultType="java.lang.Integer">
        select
            count(*)
        from
            brand a
        left join
            brand_categories b
        on
            a.brand_id = b.brand_id
        <where>
            <if test="searchBo.brandId != null and searchBo.brandId.length > 0">
                a.brand_id = #{searchBo.brandId}
            </if>
            <if test="searchBo.brandName != null and searchBo.brandName.length > 0">
                and a.brand_name = #{searchBo.brandName}
            </if>
            <if test="searchBo.sortno != null">
                and a.sortno = #{searchBo.sortno}
            </if>
            <if test="searchBo.categoryId != null and searchBo.categoryId != -1">
                and b.category_id = #{searchBo.categoryId}
            </if>
        </where>
    </select>
    <select id="getBrandById" resultType="com.atstudy.entity.Brand">
        select * from brand where brand_id = #{brandId}
    </select>
</mapper>