<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atstudy.mapper.PermissionMapper">
    <select id="listByRoleId" resultType="com.atstudy.entity.Permission">
        select
            a.*
        from
            permission a
        join
            role_permission b
        on
            a.permission_id = b.permission_id
        where
            b.role_id = #{roleId}
    </select>

    <select id="listVoWithRoleId" resultType="com.atstudy.entity.vo.PermissionWithRoleVo">
        SELECT
            a.*,b.role_id
        FROM
            permission a
        LEFT JOIN
            (SELECT * FROM role_permission WHERE role_id = #{roleId}) b
        ON
            a.permission_id = b.permission_id
    </select>


</mapper>